<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      ALARM CLOCK
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
 
    <ion-list no-lines>
 
        <ion-item>
          <ion-label>Set Alarm time:</ion-label>
          <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="notifyTime" (ionChange)="timeChange($event)"></ion-datetime>
        </ion-item>
 
        <ion-item>
            <ion-label>On the following days:</ion-label>
        </ion-item>
 
        <ion-item *ngFor="let day of days">
            <ion-label>{{day.title}}</ion-label>
            <ion-checkbox [(ngModel)]="day.checked" color="primary"></ion-checkbox>
        </ion-item>
 
    </ion-list>
 
</ion-content>
 
<ion-footer>
 
    <button (click)="addNotifications()" ion-button color="primary" full>ADD ALARM</button>
    <button (click)="cancelAll()" ion-button color="danger" full>CANCEL ALARM</button>
 
</ion-footer>